body {
  font-family: "Helvetica Neue", sans-serif;
  margin: 0;
  padding: 0;
}

.search-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 20px;
  background-color: #2c3e50;
  z-index: 9999;
}

.search-bar {
  display: flex;
  align-items: center;
  background-color: #ecf0f1;
  border-radius: 25px;
  overflow: hidden;
}

#search {
  padding: 10px;
  background-color: transparent;
  color: #34495e;
  font-weight: bold;
  font-size: 16px;
  outline: none;
  border: none;
  flex: 1;
}

#search::placeholder {
  color: #95a5a6;
  font-weight: bold;
  font-size: 16px;
}

#search:focus::placeholder {
  color: transparent;
}

#searchBtn {
  padding: 10px 20px;
  background-color: #3498db;
  color: white;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

#searchBtn i {
  font-size: 18px;
}

.content {
  margin-top: 80px;
  padding: 20px;
  color: #333;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

/* Agregar más estilos según sea necesario */
