body
{
   background-color: #131720;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   padding: 0;
}
#wb_LayoutGrid1
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: transparent;
   background-image: none;
   border: 0px solid #CCCCCC;
   border-radius: 0px;
   box-sizing: border-box;
   margin: 0;
}
#LayoutGrid1
{
   box-sizing: border-box;
   padding: 0;
   margin-right: auto;
   margin-left: auto;
}
#LayoutGrid1 > .row
{
   margin-right: 0;
   margin-left: 0;
}
#LayoutGrid1 > .row > .col-1
{
   box-sizing: border-box;
   font-size: 0;
   min-height: 1px;
   padding-right: 0px;
   padding-left: 0px;
   position: relative;
}
#LayoutGrid1 > .row > .col-1
{
   float: left;
}
#LayoutGrid1 > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 100%;
   text-align: center;
}
#LayoutGrid1:before,
#LayoutGrid1:after,
#LayoutGrid1 .row:before,
#LayoutGrid1 .row:after
{
   display: table;
   content: " ";
}
#LayoutGrid1:after,
#LayoutGrid1 .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#LayoutGrid1 > .row > .col-1
{
   float: none;
   width: 100% !important;
}
}
#Layer1
{
   background-color: transparent;
   background-image: none;
   border-radius: 0px;
}
#wb_Icon2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid transparent;
   border-radius: 0px;
   text-align: center;
   margin: 0;
   padding: 0;
   vertical-align: top;
}
#Icon2
{
   height: 35px;
   width: 64px;
}
#Icon2 i
{
   color: #FFFFFF;
   display: inline-block;
   font-size: 35px;
   line-height: 35px;
   vertical-align: middle;
   width: 34px;
}
#wb_Icon2:hover #Icon2 i
{
   color: #FFFFFF;
}
#h
{
   background-color: transparent;
   background-image: none;
   border-radius: 0px;
}
#wb_Text3 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text3 div
{
   text-align: left;
}
#OverlayMenu2
{
   background-color: #424242;
   background-image: none;
   border: 0px solid #424242;
   border-radius: 0px;
   margin: 0;
}
#OverlayMenu2:hover
{
   background-color: #CCCCCC;
   background-image: none;
   border-color: #424242;
}
#OverlayMenu2
{
   display: block;
   width: 40px;
   height: 37px;
   position: absolute;
   overflow: hidden;
}
#OverlayMenu2 .line
{
   width: 28px;
   height: 5px;
   position: relative;
   top: 1px;
   background: #FFFFFF;
   display: block;
   margin: 5px auto;
}
#OverlayMenu2:hover .line
{
   background: #424242;
}
#OverlayMenu2-close
{
   background: transparent;
   font-size: 10px;
   height: 2.8em; 
   outline: none;
   position: absolute;
   right: 10px;
   text-align: left;
   top: 10px;
   width: 3em; 
}
#OverlayMenu2-close:before, #OverlayMenu2-close:after
{
   background: #FFFFFF;
   content: "";
   display: block;
   height: 0.6em;
   left: 0;
   opacity: 1;
   position: absolute;
   top: 0;
   width: 100%;
}
#OverlayMenu2-close span
{
   background: #FFFFFF;
   height: 0.6em;
   margin-top: -0.3em;
   position: absolute;
   top: 50%;
   transform-origin: 50% 50%;
   width: 100%;
}
#OverlayMenu2-close span::after
{
   background: #FFFFFF;
   content: "";
   display: block;
   height: 0.6em;
   position: absolute;
   transform-origin: 50% 50%;
   width: 100%;
}
#OverlayMenu2-close:before
{
   margin-top: -0.3em;
   opacity: 0;
   top: 50%;
}
#OverlayMenu2-close:after
{
   bottom: 50%;
   opacity: 0;
}
#OverlayMenu2-close span
{
   background: #FFFFFF;
   transform: rotate(-45deg);
}
#OverlayMenu2-close span:after
{
   background: #FFFFFF;
   transform: rotate(-90deg);
}
#OverlayMenu2-overlay
{
   display: flex;
   align-items: center;
   justify-content: center;
   height: 100%;
   left: 0;
   overflow-y: auto;
   position: fixed;
   top: 0;
   width: 100%;
   z-index: -1;
   background-color: rgba(122,122,122,0.87);
}
#OverlayMenu2-overlay ul
{
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 35px;
   list-style: none;
   margin: 0;
   padding: 0;
}
.OverlayMenu2
{
   height: 60%;
   width: 100%;
   max-width: 970px;
   margin: 0 auto 0 auto;
}
.OverlayMenu2 a
{
   text-decoration: none;
}
.OverlayMenu2 ul
{
   list-style: none;
   padding: 0;
   text-align: center;
}
.OverlayMenu2 li
{
   position: relative;
}
.OverlayMenu2 li a
{
   display: block;
   position: relative;
   padding: 10px 15px 10px 15px;
   color: #FFFFFF;
   outline: none;
}
.OverlayMenu2 li a:hover
{
   color: #424242;
   background-color: #CCCCCC;
}
#OverlayMenu2-overlay
{
   visibility: hidden;
   width: 0;
   left: 50%;
   transform: translateX(-50%);
   transition: width 400ms 0.3s, visibility 0s 700ms;
}
#OverlayMenu2-overlay.show
{
   visibility: visible;
   width: 100%;
   transition: width 400ms;
}
#OverlayMenu2-overlay .OverlayMenu2
{
   opacity: 0;
   transition: opacity 0.3s 400ms;
}
#OverlayMenu2-overlay.show .OverlayMenu2
{
   opacity: 1;
   transition-delay: 400ms;
}
#OverlayMenu2-overlay.hide .OverlayMenu2
{
   transition-delay: 0s;
}
.OverlayMenu2 li.drilldown-back > a 
{
   padding-left: 40px;
   background: rgba(0,0,0,0.1);
}
.OverlayMenu2 li.drilldown-back > a:hover
{
   background-color: #CCCCCC;
}
.OverlayMenu2 li.drilldown-back a:after,
.OverlayMenu2 li > a:not(:only-child):after
{
   position: absolute;
   top: 50%;
   transform: translateY(-50%);
   display: inline-block;
   width: 0;
   height: 0;
   margin-left: 17px;
   border-left: 17px solid #FFFFFF;
   border-top: 15px solid transparent;
   border-bottom: 15px solid transparent;
   border-right: 0 dotted;
   content: " ";
}
.OverlayMenu2 li.drilldown-back a:after
{
   left: 17px;
   color: #FFFFFF;
   transform: translateY(-50%) rotate(180deg);
}
.OverlayMenu2 li.drilldown-back a:hover:after,
.OverlayMenu2 li > a:not(:only-child):hover:after
{
   border-left-color: #424242;
}
.OverlayMenu2 li > a:after
{
   color: rgba(0,0,0,0.15);
   right: 10px;
}
.OverlayMenu2 .drilldown-menu 
{
   margin: 0;
   width: 100%;
}
.OverlayMenu2 li .drilldown-submenu 
{
   display: none;
}
.drilldown-menu.drilldown-subview li,
.drilldown-menu.drilldown-subview li.drilldown-subviewopen > a,
.drilldown-menu.drilldown-subview li.drilldown-subview > a 
{
   display: none;
}
.drilldown-menu.drilldown-subview li.drilldown-subview,
.drilldown-menu.drilldown-subview li.drilldown-subview .drilldown-submenu,
.drilldown-menu.drilldown-subview li.drilldown-subviewopen,
.drilldown-menu.drilldown-subview li.drilldown-subviewopen > .drilldown-submenu,
.drilldown-menu.drilldown-subview li.drilldown-subviewopen > .drilldown-submenu > li 
{
   display: block;
}
.OverlayMenu2 > .drilldown-submenu
{
   left: 0;
   margin: 0;
   position: absolute;
   top: 50px;
   width: 100%;
}
#OverlayMenu2-overlay .overlay-icon
{
   margin: 0 10px 0 0 ;
}
#OverlayMenu2-social
{
   padding: 40px 0 0 0;
}
#OverlayMenu2-social .social-icon 
{
   border-radius: 50%;
   background-color: #FFFFFF;
   color: #7A7A7A;
   display: inline-block;
   font-size: 35px;
   margin: 0 .5em;
   padding: 13px;
   transition: all .2s linear 0s;
   width: 35px;
}
#OverlayMenu2-social .social-icon:hover 
{
   background-color: #424242;
   color: #CCCCCC;
}
.OverlayMenu2-effect
{
   transition: all 500ms linear;
}
#Layer3
{
   background-color: #1E1E1E;
   background-image: none;
   border: 1px solid transparent;
   border-radius: 10px;
   animation: bouncing-ball-move 0ms linear 0ms infinite normal both;
}
#wb_cloce
{
   vertical-align: top;
}
#cloce
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_Text1 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text1 div
{
   text-align: left;
}
    body {
      font-family: Arial, sans-serif;
      background-color: #000000;
      padding-top: 70px;
    }

    .container {
      max-width: 800px;
      margin: 0 auto;
      padding: 20px;
      background-color: #000;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      border-radius: 5px;
    }

    h1 {
      text-align: center;
      margin-bottom: 30px;
    }

    .favorito {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 20px;
      padding: 10px;
      background-color: #f9f9f9;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      border-radius: 5px;
    }

    .favorito-imagen {
      width: 100px;
      height: 100px;
      object-fit: cover;
      border-radius: 5px;
      margin-right: 20px;
    }

    .favorito-info {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
    }

    .favorito-titulo {
      font-size: 18px;
      margin-bottom: 5px;
      text-decoration: none;
      color: #FF0000
    }

    .favorito-titulo:hover {
      text-decoration: underline;
    }

    .boton-eliminar {
      align-self: flex-end;
      margin-top: 4px;
      padding: 5px 10px;
      background-color: #ff0000;
      color: #fff;
      border: none;
      cursor: pointer;
      font-size: 12px;
      border-radius: 3px;
      transition: background-color 0.3s ease;
    }

    .boton-eliminar:hover {
      background-color: #e60000;
    }

    .mensaje-vacio {
      text-align: center;
      color: #999;
      font-size: 20px;
    }
  