body
{
   background-color: #131720;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   padding: 0;
}
#wb_LayoutGrid1
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: transparent;
   background-image: none;
   border: 0px solid #CCCCCC;
   border-radius: 0px;
   box-sizing: border-box;
   margin: 0;
}
#LayoutGrid1
{
   box-sizing: border-box;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   padding: 0 0 50px 0;
   margin-right: auto;
   margin-left: auto;
}
#LayoutGrid1 > .col-1
{
   box-sizing: border-box;
   font-size: 0;
   min-height: 1px;
   padding-right: 0px;
   padding-left: 0px;
   position: relative;
}
#LayoutGrid1 > .col-1
{
   flex: 0 0 auto;
}
#LayoutGrid1 > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   flex-basis: 100%;
   max-width: 100%;
   display: flex;
   flex-wrap: wrap;
   align-content: center;
   align-self: stretch;
   align-items: center;
   justify-content: center;
   text-align: center;
}
@media (max-width: 480px)
{
#LayoutGrid1 > .col-1
{
   flex-basis: 100% !important;
   max-width: 100% !important;
}
}
    
     #loading-message {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: rgba(0, 0, 0, 0.6);
      color: white;
      padding: 10px;
      font-size: 16px;
      border-radius: 5px;
    }
    iframe {
      /* Asegurar que el iframe esté por encima del mensaje */
      position: relative;
      z-index: 2;
    }

  

.button-container {
  display: inline-block;
}

.button {
  display: inline-block;
  padding: 5px 5px;
  font-size: 10px;
  font-weight: bold;
  border-radius: 10px;
  text-align: center;
  text-decoration: none;
  color: #000000;
  cursor: pointer;
}

.button.visto {
  background-color: #00FF00;
}


.title {
  margin-bottom: 0px;
}


 
 .container {
	 display: flex;
	 flex-direction: column;
	 width: 100%;
	 max-width: 100%;
	 margin: 0 auto;
    margin-top: -40px;
    z-index: 99999 important:
}
 .container h1 {
	 text-align: center;
	 margin-bottom: 30px;
	 font-weight: 500;
}
 .container h2 {
	 font-weight: 500;
}
 .accordion {
	 display: flex;
	 flex-direction: column;
	 width: 100%;
	 height: auto;
}
 .accordion .a-container {
	 display: flex;
	 flex-direction: column;
	 width: 100%;
	 padding-bottom: 5px;
}
 .accordion .a-container .a-btn {
	 margin: 0;
	 position: relative;
	 padding: 15px 30px;
	 width: 100%;
	 color: #bdbdbd;
	 font-weight: 400;
	 display: block;
	 font-weight: 500;
	 background-color: #262626;
	 cursor: pointer;
	 transition: all 0.3s ease-in-out;
	 border-radius: 5px;
	 box-shadow: 0 20px 25px -5px rgba(0, 0, 0, .15), 0 10px 10px -5px rgba(0, 0, 0, .1) !important;
}
 .accordion .a-container .a-btn span {
	 display: block;
	 position: absolute;
	 height: 14px;
	 width: 14px;
	 right: 20px;
	 top: 18px;
}
 .accordion .a-container .a-btn span:after {
	 content: '';
	 width: 14px;
	 height: 3px;
	 border-radius: 2px;
	 background-color: #fff;
	 position: absolute;
	 top: 6px;
}
 .accordion .a-container .a-btn span:before {
	 content: '';
	 width: 14px;
	 height: 3px;
	 border-radius: 2px;
	 background-color: #fff;
	 position: absolute;
	 top: 6px;
	 transform: rotate(90deg);
	 transition: all 0.3s ease-in-out;
}

.video-title {
    color: #fff;
    font-size: 24px;
    margin-bottom: 10px;
  }
  
 .accordion .a-container .a-panel {
	 width: 100%;
	 color: #fff;
	 transition: all 0.2s ease-in-out;
	 opacity: 0;
	 height: auto;
	 max-height: 0;
	 overflow: scroll;
	 padding: 0px 10px;
}
 .accordion .a-container.active .a-btn {
	 color: #fff;
}
 .accordion .a-container.active .a-btn span::before {
	 transform: rotate(0deg);
}
 .accordion .a-container.active .a-panel {
	 padding: 15px 10px 10px 10px;
	 opacity: 1;
	 max-height: 500px;
}
      
 .fs-abrir-lightbox1{
background: linear-gradient(to bottom, #414142, #040404);
width:100%; 	
}


.fs-abrir-lightbox{
background: linear-gradient(to bottom, #414142, #040404);
	width:100%; 	
}
#lightbox {
  position: fixed;
  width: 60%;
  height: 100%;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -40%); /* Ajusta el centrado real */ 
  background: rgba(0, 0, 0, 0.8);
  display: none;
  z-index: 9999; /* Ajusta el valor según sea necesario para la superposición */
}

#lightbox.abrir {
  display: block;
}

#lightbox-content {
  position: absolute;
  width: 95%;
  height: 50vh;
 border-radius:5px;
top: 22%;
  margin-left: 2.4%;
background: black;
  text-align: center;
  padding-top: 0px;
}






#fechar {
  position: absolute;
  right: 0;
  top: -30px;
    font-size: 55px;
  height: 20px;
  width: 20px;
  text-align: center;
  color: #ff0000;
  cursor: pointer;
}

@media screen and (max-width: 768px) { 
#lightbox { 
width: 100%; /* Ajusta el ancho para móviles */
 height: 100%; /* Ajusta la altura según el contenido */ 
 top: 40%; /* Ajusta la posición vertical */ 
 transform: translate(-50%, -40%); /* Ajusta el centrado real */ 
 font-size: 16px; /* Ajusta el tamaño de fuente para mejorar la legibilidad */ } }

@media(orientation:landscape){
#lightbox-content {
  height: 70vh;
  top: 15%;
}

#fechar {
  top: -50px;
  font-size: 70px;
}

}

*, *::after, *::before {
	 padding: 0;
	 margin: 0;
	 box-sizing: border-box;
	 list-style: none;
	 list-style-type: none;
	 text-decoration: none;
	 text-rendering: optimizeLegibility;
}

 .container {
	 max-width: 100%;
	 width: 100%;
	 height: auto;
	 margin: 0 auto;
}
 .main .accordion {
	 
	 max-width: 100%;
	 height: auto;
	 margin: 0 auto;
}
 .main .accordion-item {
	 padding: 7px 0;
	 margin: 7;
	 overflow: hidden;
	 border: none;
	 outline: none;
	 border-bottom: 8px solid #000000;
         background-color: #524d4d;
         border-radius: 10px;
}
 .main .accordion-item .title {
	 display: flex;
	 justify-content: space-between;
	 align-items: center;
	 font-family: inherit;
	 font-size: 20px;
	 font-weight: 600;
	 line-height: inherit;
	 cursor: pointer;
	 color: #fff;
         margin-left: 20px;
}
 .main .accordion-item .title i.fas {
	 font-size: 20px;
	 color: #fff;
	 transform: translateX(-50%) rotate(0);
	 transition: transform 0.15s ease;
}
 .main .accordion-item .paragraph {
	 font-family: inherit;
	 font-size: 1rem;
	 font-weight: normal;
	 line-height: inherit;
	 color: #ff0000;
	 display: none;
	 padding: 10px;
         background-color: #66666A;
}
 .main .accordion-item.active .title i.fas {
	 color: #1a9de1;
	 transform: translateX(-50%) rotate(180deg);
         content:"\f078"
}
 .main .accordion-item.active .paragraph {
	 display: block;
} 

a {text-decoration:none; 
  display: block; 

 line-height: 40px;
 color: #ff0000;
 border-radius: 8px;
 font-size: 18px;
 margin: 3px;
    margin-top: 2px;
text-align: center;
} 


a-btn
font-size: 18px;
} 


        /* Estilos para el contenedor de los botones */
        .button-container {
           position: fixed;
  right: 25px;
  bottom: 25px;
  width: 60px;
  height: 60px;
        }

        /* Estilo para el contenedor de cada botón y su texto */
        .button-group {
	
            display: flex;
            align-items: center;
            margin-bottom: 10px; /* Espacio entre los botones */
        }

        /* Estilo para el botón cuadrado más pequeño */
        .error-button {
            background-color: transparent; /* Color rojo */
            color: #fff;
            border: #262626 2px solid;
            width: 40px; /* Ancho cuadrado más pequeño */
            height: 40px; /* Alto cuadrado más pequeño */
            border-radius: 5px;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
        }

        /* Estilo para el icono de error */
        .error-button i {
            font-size: 24px; /* Tamaño de ícono más pequeño */
        }

        /* Estilo para el texto emergente a la derecha del botón */
        .error-text {
            background-color: transparent; /* Color rojo */
            color: #fff;
            padding: 6px 10px;
            border-radius: 5px;
            white-space: nowrap;
            opacity: 0;
            transform: translateX(0); /* Cambiado a translateX */
            transition: opacity 0.6s, transform 0.9s; /* Reducida la duración de la transición */
            text-align: center;
            font-size: 14px; /* Tamaño de fuente diferente */
            font-weight: bold; /* Negrita */
            margin-left: 10px; /* Espacio entre el botón y el texto */
            display: none;
        }

        /* Mostrar el texto emergente cuando se pasa el cursor */
        .button-group:hover .error-button + .error-text {
            opacity: 1;
            transform: translateX(-5px); /* Mover el texto al lado del botón */
            display: block;
        }

        /* Estilo para el botón de cerrar en el popup */
        .popup-close-button {
            position: absolute;
            top: 10px;
            right: 10px;
            cursor: pointer;
            color: #fff;
            background-color: #e74c3c;
            border: none;
            border-radius: 50%;
            width: 30px;
            height: 30px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 18px;
        }

        /* Estilo para el contenido del popup */
        .popup-content {
            width: 400px;
            max-width: 80%;
            max-height: 80%;
            background-color: #fff;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            display: none;
            padding: 20px;
		
            overflow-y: auto; /* Agregar barra de desplazamiento vertical si el contenido es largo */
            z-index: 2; /* Asegura que el popup esté sobre el overlay */
        }

        /* Estilo para el fondo oscuro detrás del popup */
        .popup-overlay {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.9); /* Fondo un poco más oscuro */
            display: none;
            z-index: 1;
            cursor: pointer; /* Agrega un cursor para indicar que se puede hacer clic */
        }

       

        .accordion .question {
            cursor: pointer;
            padding: 10px;
            background-color: #f2f2f2; /* Fondo un poco más oscuro */
            border: 2px solid #ddd;
            border-radius: 5px;
            margin-bottom: 10px;
            transition: background-color 0.3s;
            position: relative;
            display: flex;
	
            justify-content: space-between;
            align-items: center;
        }

        .accordion .question:hover {
            background-color: #e0e0e0; /* Cambia a un tono más claro al pasar el cursor */
        }

        /* Estilo para el símbolo "+" o "-" */
        .accordion .expand-icon {
            font-size: 18px;
        }

        


    .answer {
    display: none;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow-y: auto;
    max-height: 100px; /* Altura máxima inicial */
    margin-bottom: 10px;
}

.answer:hover {
    max-height: 500px; /* Altura máxima al pasar el cursor */
    transition: max-height 0.5s ease-in-out; /* Transición suave */
}


