body
{
   background-color: #131720;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   padding: 0;
}
#h
{
   background-color: transparent;
   background-image: none;
   border-radius: 0px;
}
#wb_Image2
{
   vertical-align: top;
}
#Image2
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#OverlayMenu2
{
   background-color: #424242;
   background-image: none;
   border: 0px solid #424242;
   border-radius: 0px;
   margin: 0;
}
#OverlayMenu2:hover
{
   background-color: #CCCCCC;
   background-image: none;
   border-color: #424242;
}
#OverlayMenu2
{
   display: block;
   width: 40px;
   height: 37px;
   position: absolute;
   overflow: hidden;
}
#OverlayMenu2 .line
{
   width: 28px;
   height: 5px;
   position: relative;
   top: 1px;
   background: #FFFFFF;
   display: block;
   margin: 5px auto;
}
#OverlayMenu2:hover .line
{
   background: #424242;
}
#OverlayMenu2-close
{
   background: transparent;
   font-size: 10px;
   height: 2.8em; 
   outline: none;
   position: absolute;
   right: 10px;
   text-align: left;
   top: 10px;
   width: 3em; 
}
#OverlayMenu2-close:before, #OverlayMenu2-close:after
{
   background: #FFFFFF;
   content: "";
   display: block;
   height: 0.6em;
   left: 0;
   opacity: 1;
   position: absolute;
   top: 0;
   width: 100%;
}
#OverlayMenu2-close span
{
   background: #FFFFFF;
   height: 0.6em;
   margin-top: -0.3em;
   position: absolute;
   top: 50%;
   transform-origin: 50% 50%;
   width: 100%;
}
#OverlayMenu2-close span::after
{
   background: #FFFFFF;
   content: "";
   display: block;
   height: 0.6em;
   position: absolute;
   transform-origin: 50% 50%;
   width: 100%;
}
#OverlayMenu2-close:before
{
   margin-top: -0.3em;
   opacity: 0;
   top: 50%;
}
#OverlayMenu2-close:after
{
   bottom: 50%;
   opacity: 0;
}
#OverlayMenu2-close span
{
   background: #FFFFFF;
   transform: rotate(-45deg);
}
#OverlayMenu2-close span:after
{
   background: #FFFFFF;
   transform: rotate(-90deg);
}
#OverlayMenu2-overlay
{
   display: flex;
   align-items: center;
   justify-content: center;
   height: 100%;
   left: 0;
   overflow-y: auto;
   position: fixed;
   top: 0;
   width: 100%;
   z-index: -1;
   background-color: rgba(122,122,122,0.87);
}
#OverlayMenu2-overlay ul
{
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 35px;
   list-style: none;
   margin: 0;
   padding: 0;
}
.OverlayMenu2
{
   height: 60%;
   width: 100%;
   max-width: 970px;
   margin: 0 auto 0 auto;
}
.OverlayMenu2 a
{
   text-decoration: none;
}
.OverlayMenu2 ul
{
   list-style: none;
   padding: 0;
   text-align: center;
}
.OverlayMenu2 li
{
   position: relative;
}
.OverlayMenu2 li a
{
   display: block;
   position: relative;
   padding: 10px 15px 10px 15px;
   color: #FFFFFF;
   outline: none;
}
.OverlayMenu2 li a:hover
{
   color: #424242;
   background-color: #CCCCCC;
}
#OverlayMenu2-overlay
{
   visibility: hidden;
   width: 0;
   left: 50%;
   transform: translateX(-50%);
   transition: width 400ms 0.3s, visibility 0s 700ms;
}
#OverlayMenu2-overlay.show
{
   visibility: visible;
   width: 100%;
   transition: width 400ms;
}
#OverlayMenu2-overlay .OverlayMenu2
{
   opacity: 0;
   transition: opacity 0.3s 400ms;
}
#OverlayMenu2-overlay.show .OverlayMenu2
{
   opacity: 1;
   transition-delay: 400ms;
}
#OverlayMenu2-overlay.hide .OverlayMenu2
{
   transition-delay: 0s;
}
#OverlayMenu2-overlay .overlay-icon
{
   margin: 0 10px 0 0 ;
}
#OverlayMenu2-social
{
   padding: 40px 0 0 0;
}
#OverlayMenu2-social .social-icon 
{
   border-radius: 50%;
   background-color: #FFFFFF;
   color: #7A7A7A;
   display: inline-block;
   font-size: 35px;
   margin: 0 .5em;
   padding: 13px;
   transition: all .2s linear 0s;
   width: 35px;
}
#OverlayMenu2-social .social-icon:hover 
{
   background-color: #424242;
   color: #CCCCCC;
}
.OverlayMenu2-effect
{
   transition: all 500ms linear;
}
  html,
  body {
    height: 100%;
    margin: 0;
    padding: 0;
  }

  #blocker {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
  }

  #container {
    text-align: center;
  }

  #unlockButton {
    font-size: 18px;
    padding: 10px 20px;
    background-color: #ffffff;
    color: #ff0000;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  #countdown {
    color: white;
    font-size: 19px;
  }

  #countdownWrapper {
    color: white;
    font-size: 19px;
    text-align: center;
    margin-bottom: 10px;
  }

  #iframeWrapper {
    width: 100%;
    height: 100%;
    display: none;
  }

  #message {
    color: white;
    font-size: 14px;
    margin-top: 10px;
  }

  #adMessage {
    color: white;
    font-size: 10px;
    margin-top: 10px;
  }
