body
{
   background-color: #FFFFFF;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   padding: 0;
}
#Layer1
{
   background-color: #FBFBFB;
   background-image: none;
   border-radius: 0px;
   box-sizing: border-box;
   margin: 0;
}
#InlineFrame1
{
   border: 0px solid transparent;
   border-radius: 0px;
   margin: 0;
}
