body
{
   background-color: #131720;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   padding: 0;
}
#wb_Selecci
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: transparent;
   background-image: none;
   border: 0px solid #CCCCCC;
   border-radius: 0px;
   box-sizing: border-box;
   margin: 0;
}
#Selecci
{
   box-sizing: border-box;
   padding: 0;
   margin-right: auto;
   margin-left: auto;
}
#Selecci > .row
{
   margin-right: 0;
   margin-left: 0;
}
#Selecci > .row > .col-1
{
   box-sizing: border-box;
   font-size: 0;
   min-height: 1px;
   padding-right: 0px;
   padding-left: 0px;
   position: relative;
}
#Selecci > .row > .col-1
{
   float: left;
}
#Selecci > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 100%;
   text-align: center;
}
#Selecci:before,
#Selecci:after,
#Selecci .row:before,
#Selecci .row:after
{
   display: table;
   content: " ";
}
#Selecci:after,
#Selecci .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#Selecci > .row > .col-1
{
   float: none;
   width: 100% !important;
}
}
#ThemeableButton1
{
   font-family: Batang;
   font-weight: normal;
   font-size: 19px;
   font-style: normal;
   display: inline-block;
   position: relative;
   vertical-align: middle;
   user-select: none;
   overflow: visible;
   text-decoration: none;
   cursor: pointer;
   margin: 0;
   padding: 0;
   text-align: center;
   vertical-align: top;
}
#ThemeableButton1 .ui-button
{
   position: absolute;
   padding: 0;
}
#ThemeableButton1 .ui-primary
{
   background-image: none !important;
   font-family: FontAwesome;
   font-size: 18px;
   font-style: normal;
   font-weight: normal;
   line-height: 1;
   margin-top: 0;
   text-indent: 0;
   display: inline-block;
   overflow: visible;
   position: absolute;
   left: 10px;
   top: 50%;
   transform: translateY(-50%);
   width: 18px;
   height: 18px;
   color: #FFFFFF;
}
#ThemeableButton1 .ui-primary:before
{
   content: "\f0a4";
}
#ThemeableButton1:hover .ui-primary
{
   color: #FFFFFF;
}
#ThemeableButton1:active .ui-primary
{
   color: #FFFFFF;
}
#ThemeableButton1.ui-corner-all
{
   border-bottom-left-radius: 4px;
   border-top-left-radius: 4px;
}
#ThemeableButton1.ui-corner-all
{
   border-bottom-right-radius: 4px;
   border-top-right-radius: 4px;
}
#ThemeableButton1.ui-button
{
   background-color: transparent;
   background-image: none;
   border: 1px solid #C5C5C5;
   color: #FFFFFF;
}
#ThemeableButton1.ui-state-hover, #ThemeableButton1.ui-button:hover
{
   border-color: #CCCCCC;
   background-color: transparent;
   background-image: none;
   color: #FFFFFF;
}
#ThemeableButton1.ui-state-active, #ThemeableButton1.ui-button:active
{
   border-color: #DCDCDC;
   background-color: #DCDCDC;
   background-image: none;
   color: #FFFFFF;
}
#Shape2
{
   border-width: 0;
   vertical-align: top;
}
#wb_LayoutGrid2
{
   clear: both;
   position: fixed;
   left: 0;
   top: 0;
   z-index: 7777;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: transparent;
   background-image: none;
   border: 0px solid #CCCCCC;
   border-radius: 0px;
   box-sizing: border-box;
   margin: 0;
}
#LayoutGrid2
{
   box-sizing: border-box;
   padding: 10px 0 10px 0;
   margin-right: auto;
   margin-left: auto;
}
#LayoutGrid2 > .row
{
   margin-right: 0;
   margin-left: 0;
}
#LayoutGrid2 > .row > .col-1
{
   box-sizing: border-box;
   font-size: 0;
   min-height: 1px;
   padding-right: 0px;
   padding-left: 0px;
   position: relative;
}
#LayoutGrid2 > .row > .col-1
{
   float: left;
}
#LayoutGrid2 > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 100%;
   text-align: center;
}
#LayoutGrid2:before,
#LayoutGrid2:after,
#LayoutGrid2 .row:before,
#LayoutGrid2 .row:after
{
   display: table;
   content: " ";
}
#LayoutGrid2:after,
#LayoutGrid2 .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#LayoutGrid2 > .row > .col-1
{
   float: none;
   width: 100% !important;
}
}
#InlineFrame1
{
   border: 0px solid #C0C0C0;
   border-radius: 0px;
   margin: 0;
}
#InlineFrame1
{
   display: none;
   float: left;
   width: 100%;
   height: 53px;
   vertical-align: top;
}
#wb_Icon2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #245580;
   border-radius: 0px;
   text-align: center;
   margin: 0;
   padding: 0;
   vertical-align: top;
   display:inline-block;
   position:relative;
}
#Icon2
{
   height: 32px;
   width: 39px;
}
#Icon2 i
{
   color: #FF0000;
   display: inline-block;
   font-size: 32px;
   line-height: 32px;
   vertical-align: middle;
   width: 31px;
}
#wb_Icon2:hover #Icon2 i
{
   color: #FF0000;
}
#wb_LayoutGrid3
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: transparent;
   background-image: none;
   border: 0px solid #CCCCCC;
   border-radius: 0px;
   box-sizing: border-box;
   margin: 0;
}
#LayoutGrid3
{
   box-sizing: border-box;
   padding: 110px 0 0 0;
   margin-right: auto;
   margin-left: auto;
}
#LayoutGrid3 > .row
{
   margin-right: 0;
   margin-left: 0;
}
#LayoutGrid3 > .row > .col-1
{
   box-sizing: border-box;
   font-size: 0;
   min-height: 1px;
   padding-right: 0px;
   padding-left: 0px;
   position: relative;
}
#LayoutGrid3 > .row > .col-1
{
   float: left;
}
#LayoutGrid3 > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 100%;
   text-align: center;
}
#LayoutGrid3:before,
#LayoutGrid3:after,
#LayoutGrid3 .row:before,
#LayoutGrid3 .row:after
{
   display: table;
   content: " ";
}
#LayoutGrid3:after,
#LayoutGrid3 .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#LayoutGrid3 > .row > .col-1
{
   float: none;
   width: 100% !important;
}
}
#Layer1
{
   background-color: transparent;
   background-image: none;
   border-radius: 0px;
}
#OverlayMenu1
{
   background-color: #424242;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   margin: 0;
}
#OverlayMenu1:hover
{
   background-color: #CCCCCC;
   background-image: none;
   border-color: #424242;
}
#OverlayMenu1
{
   display: block;
   width: 40px;
   height: 37px;
   position: absolute;
   overflow: hidden;
}
#OverlayMenu1 .line
{
   width: 27px;
   height: 5px;
   position: relative;
   top: 2px;
   background: #FFFFFF;
   display: block;
   margin: 5px auto;
}
#OverlayMenu1:hover .line
{
   background: #A9A9A9;
}
#OverlayMenu1-close
{
   background: transparent;
   font-size: 10px;
   height: 2.8em; 
   outline: none;
   position: absolute;
   right: 10px;
   text-align: left;
   top: 10px;
   width: 3em; 
}
#OverlayMenu1-close:before, #OverlayMenu1-close:after
{
   background: #FFFFFF;
   content: "";
   display: block;
   height: 0.6em;
   left: 0;
   opacity: 1;
   position: absolute;
   top: 0;
   width: 100%;
}
#OverlayMenu1-close span
{
   background: #FFFFFF;
   height: 0.6em;
   margin-top: -0.3em;
   position: absolute;
   top: 50%;
   transform-origin: 50% 50%;
   width: 100%;
}
#OverlayMenu1-close span::after
{
   background: #FFFFFF;
   content: "";
   display: block;
   height: 0.6em;
   position: absolute;
   transform-origin: 50% 50%;
   width: 100%;
}
#OverlayMenu1-close:before
{
   margin-top: -0.3em;
   opacity: 0;
   top: 50%;
}
#OverlayMenu1-close:after
{
   bottom: 50%;
   opacity: 0;
}
#OverlayMenu1-close span
{
   background: #FFFFFF;
   transform: rotate(-45deg);
}
#OverlayMenu1-close span:after
{
   background: #FFFFFF;
   transform: rotate(-90deg);
}
#OverlayMenu1-overlay
{
   display: flex;
   align-items: center;
   justify-content: center;
   height: 100%;
   left: 0;
   overflow-y: auto;
   position: fixed;
   top: 0;
   width: 100%;
   z-index: -1;
   background-color: rgba(122,122,122,0.87);
}
#OverlayMenu1-overlay ul
{
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 35px;
   list-style: none;
   margin: 0;
   padding: 0;
}
.OverlayMenu1
{
   height: 60%;
   width: 100%;
   max-width: 970px;
   margin: 0 auto 0 auto;
}
.OverlayMenu1 a
{
   text-decoration: none;
}
.OverlayMenu1 ul
{
   list-style: none;
   padding: 0;
   text-align: center;
}
.OverlayMenu1 li
{
   position: relative;
}
.OverlayMenu1 li a
{
   display: block;
   position: relative;
   padding: 10px 15px 10px 15px;
   color: #FFFFFF;
   outline: none;
}
.OverlayMenu1 li a:hover
{
   color: #424242;
   background-color: #CCCCCC;
}
#OverlayMenu1-overlay
{
   opacity: 0;
   visibility: hidden;
   transition: opacity 400ms, visibility 0s 400ms;
}
#OverlayMenu1-overlay.show
{
   opacity: 1;
   visibility: visible;
   transition: opacity 400ms;
}
#OverlayMenu1-overlay ul li a
{
   opacity: 0;
   transform: translateY(100px);
   transition: transform 400ms, opacity 400ms;
}
#OverlayMenu1-overlay.show ul li a
{
   opacity: 1;
   transform: translateY(0);
}
#OverlayMenu1-overlay.show ul li:nth-child(2) a
{
   transition-delay: 50ms;
}
#OverlayMenu1-overlay.show ul li:nth-child(3) a
{
   transition-delay: 100ms;
}
#OverlayMenu1-overlay.show ul li:nth-child(4) a
{
   transition-delay: 150ms;
}
#OverlayMenu1-overlay.show ul li:nth-child(5) a
{
   transition-delay: 200ms;
}
.OverlayMenu1 .sub-menu
{
   padding-top: 0;
   padding-left: 15px !important;
   display: none;
}
.OverlayMenu1 .item-has-children > a 
{
   position: relative;
}
.OverlayMenu1 .item-has-children > a::after
{
   background: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%228%22%20height%3D%2211%22%3E%3Cg%3E%3Cg%3E%3Cg%3E%3Cg%3E%3Cg%3E%3Cpath%20fill%3D%22%23FFFFFF%22%20d%3D%22M8%205.5L1.9%2011%20.1%209.4l4.3-3.8L.1%201.8%202%20.1l6%205.4%22%2F%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E') no-repeat center center;
   background-size: 8px 11px;
   bottom: auto;
   content: "";
   display: block;
   height: 11px;
   position: absolute;
   right: 1em;
   top: 50%;
   width: 8px;
   transform: translateY(-50%);
}
.OverlayMenu1 .item-has-children > a.submenu-open::after
{
   transform: translateY(-50%) rotate(90deg);
}
.OverlayMenu1 .item-has-children > a:hover::after
{
   background: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%228%22%20height%3D%2211%22%3E%3Cg%3E%3Cg%3E%3Cg%3E%3Cg%3E%3Cg%3E%3Cpath%20fill%3D%22%23424242%22%20d%3D%22M8%205.5L1.9%2011%20.1%209.4l4.3-3.8L.1%201.8%202%20.1l6%205.4%22%2F%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E') no-repeat center center;
}
#OverlayMenu1-overlay .overlay-icon
{
   margin: 0 10px 0 0 ;
}
#OverlayMenu1-social
{
   padding: 40px 0 0 0;
}
#OverlayMenu1-social .social-icon 
{
   border-radius: 50%;
   background-color: #FFFFFF;
   color: #7A7A7A;
   display: inline-block;
   font-size: 35px;
   margin: 0 .5em;
   padding: 13px;
   transition: all .2s linear 0s;
   width: 35px;
}
#OverlayMenu1-social .social-icon:hover 
{
   background-color: #424242;
   color: #CCCCCC;
}
.OverlayMenu1-effect
{
   transition: all 500ms linear;
}
#wb_Image1
{
   vertical-align: top;
}
#Image1
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#Layer3
{
   background-color: transparent;
   background-image: none;
   border-radius: 0px;
}
#wb_Image4
{
   vertical-align: top;
}
#Image4
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#Seriesiframe
{
   border: 0px solid #C0C0C0;
   border-radius: 0px;
   margin: 0;
}
#Seriesiframe
{
   display: none;
   float: left;
   width: 100%;
   height: 615px;
   vertical-align: top;
}
#pagination_serie
{
   display: inline-block;
   list-style: none;
   padding: 0;
   border-radius: 4px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 0;
   margin: 0;
}
#pagination_serie > li
{
   display: inline;
   font-size: 13px;
}
#pagination_serie > li > a, #pagination_serie > li > span
{
   position: relative;
   float: left;
   padding: 6px 12px 6px 12px;
   text-decoration: none;
   background-color: #F6F6F6;
   background-image: none;
   border: 1px solid #C5C5C5;
   color: #454545;
   margin-left: -1px;
}
#pagination_serie > li:first-child > a, #pagination_serie > li:first-child > span
{
   margin-left: 0;
   border-bottom-left-radius: 4px;
   border-top-left-radius: 4px;
}
#pagination_serie > li:last-child > a, #pagination_serie > li:last-child > span
{
   border-bottom-right-radius: 4px;
   border-top-right-radius: 4px;
}
#pagination_serie > li > a:hover, #pagination_serie > li > span:hover, #pagination_serie > li > a:focus, #pagination_serie > li > span:focus 
{
   background-color: #EDEDED;
   color: #2B2B2B;
}
#pagination_serie > .active > a, #pagination_serie > .active > span, #pagination_serie > .active > a:hover, #pagination_serie > .active > span:hover, #pagination_serie > .active > a:focus, #pagination_serie > .active > span:focus
{
   z-index: 2;
   background-color: #337AB7;
   border-color: #337AB7;
   color: #FFFFFF;
   cursor: default;
}
#pagination_serie > .disabled > span, #pagination_serie > .disabled > span:hover, #pagination_serie > .disabled > span:focus, #pagination_serie > .disabled > a, #pagination_serie > .disabled > a:hover, #pagination_serie > .disabled > a:focus 
{
   background-color: #FFFFFF;
   color: #777777;
   cursor: not-allowed;
}
#Layer2
{
   background-color: transparent;
   background-image: none;
   border-radius: 0px;
   animation: bouncing-ball-move 0ms linear 0ms infinite normal both;
}
#ThemeableButton3
{
   font-family: Batang;
   font-weight: normal;
   font-size: 19px;
   font-style: normal;
   display: inline-block;
   position: relative;
   vertical-align: middle;
   user-select: none;
   overflow: visible;
   text-decoration: none;
   cursor: pointer;
}
#wb_ThemeableButton3
{
   border-radius: 4px;
   margin: 0;
   vertical-align: top;
}
#ThemeableButton3
{
   box-sizing: border-box;
   padding: 0;
   text-align: center;
}
#wb_ThemeableButton3 .ui-button
{
   display: flex;
   align-items: center;
   margin: 0;
   justify-content: center;
}
#ThemeableButton3
{
   color: #454545;
   text-decoration: none;
}
#ThemeableButton3 :hover
{
   color: #2B2B2B;
}
#ThemeableButton3 :active
{
   color: #FFFFFF;
}
#wb_ThemeableButton3 .ui-secondary
{
   background-image: none !important;
   font-family: FontAwesome;
   font-size: 18px;
   font-style: normal;
   font-weight: normal;
   line-height: 1;
   margin-top: 0;
   text-indent: 0;
   display: inline-block;
   overflow: visible;
   position: absolute;
   right: 10px;
   top: 50%;
   transform: translateY(-50%);
   width: 18px;
   height: 18px;
   color: #FFFFFF;
}
#wb_ThemeableButton3 .ui-secondary:before
{
   content: "\f0a5";
}
#wb_ThemeableButton3:hover .ui-secondary
{
   color: #FFFFFF;
}
#wb_ThemeableButton3:active .ui-secondary
{
   color: #FFFFFF;
}
#wb_ThemeableButton3 .ui-corner-all, #wb_ThemeableButton3 .ui-corner-left
{
   border-bottom-left-radius: 4px;
   border-top-left-radius: 4px;
}
#wb_ThemeableButton3 .ui-corner-all, #wb_ThemeableButton3 .ui-corner-right
{
   border-bottom-right-radius: 4px;
   border-top-right-radius: 4px;
}
#wb_ThemeableButton3 .ui-button
{
   background-color: transparent;
   background-image: none;
   border: 1px solid #C5C5C5;
   color: #FFFFFF;
}
#wb_ThemeableButton3 .ui-state-hover, #wb_ThemeableButton3 .ui-button:hover
{
   border-color: #CCCCCC;
   background-color: transparent;
   background-image: none;
   color: #FFFFFF;
}
#wb_ThemeableButton3 .ui-state-active, #wb_ThemeableButton3 .ui-button:active
{
   border-color: #DCDCDC;
   background-color: #DCDCDC;
   background-image: none;
   color: #FFFFFF;
}
#Layer4
{
   background-color: transparent;
   background-image: none;
   border-radius: 0px;
   animation: bouncing-ball-move 0ms linear 0ms infinite normal both;
}
#pagination-pelis
{
   display: inline-block;
   list-style: none;
   padding: 0;
   border-radius: 4px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 0;
   margin: 0;
}
#pagination-pelis > li
{
   display: inline;
   font-size: 13px;
}
#pagination-pelis > li > a, #pagination-pelis > li > span
{
   position: relative;
   float: left;
   padding: 6px 12px 6px 12px;
   text-decoration: none;
   background-color: #F6F6F6;
   background-image: none;
   border: 1px solid #C5C5C5;
   color: #454545;
   margin-left: -1px;
}
#pagination-pelis > li:first-child > a, #pagination-pelis > li:first-child > span
{
   margin-left: 0;
   border-bottom-left-radius: 4px;
   border-top-left-radius: 4px;
}
#pagination-pelis > li:last-child > a, #pagination-pelis > li:last-child > span
{
   border-bottom-right-radius: 4px;
   border-top-right-radius: 4px;
}
#pagination-pelis > li > a:hover, #pagination-pelis > li > span:hover, #pagination-pelis > li > a:focus, #pagination-pelis > li > span:focus 
{
   background-color: #EDEDED;
   color: #2B2B2B;
}
#pagination-pelis > .active > a, #pagination-pelis > .active > span, #pagination-pelis > .active > a:hover, #pagination-pelis > .active > span:hover, #pagination-pelis > .active > a:focus, #pagination-pelis > .active > span:focus
{
   z-index: 2;
   background-color: #337AB7;
   border-color: #337AB7;
   color: #FFFFFF;
   cursor: default;
}
#pagination-pelis > .disabled > span, #pagination-pelis > .disabled > span:hover, #pagination-pelis > .disabled > span:focus, #pagination-pelis > .disabled > a, #pagination-pelis > .disabled > a:hover, #pagination-pelis > .disabled > a:focus 
{
   background-color: #FFFFFF;
   color: #777777;
   cursor: not-allowed;
}
#peliculasiframe
{
   border: 0px solid #C0C0C0;
   border-radius: 0px;
   margin: 0;
}
#peliculasiframe
{
   display: none;
   float: left;
   width: 100%;
   height: 615px;
   vertical-align: top;
}
