body
{
   background-color: #131720;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   padding: 0;
}
#wb_LayoutGrid1
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: transparent;
   background-image: none;
   border: 0px solid #CCCCCC;
   border-radius: 0px;
   box-sizing: border-box;
   margin: 0;
}
#LayoutGrid1
{
   box-sizing: border-box;
   padding: 25px 0 0 0;
   margin-right: auto;
   margin-left: auto;
}
#LayoutGrid1 > .row
{
   margin-right: 0;
   margin-left: 0;
}
#LayoutGrid1 > .row > .col-1
{
   box-sizing: border-box;
   font-size: 0;
   min-height: 1px;
   padding-right: 0px;
   padding-left: 0px;
   position: relative;
}
#LayoutGrid1 > .row > .col-1
{
   float: left;
}
#LayoutGrid1 > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 100%;
   text-align: center;
}
#LayoutGrid1:before,
#LayoutGrid1:after,
#LayoutGrid1 .row:before,
#LayoutGrid1 .row:after
{
   display: table;
   content: " ";
}
#LayoutGrid1:after,
#LayoutGrid1 .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#LayoutGrid1 > .row > .col-1
{
   float: none;
   width: 100% !important;
}
}
    body {
      font-family: Arial, sans-serif;
      background-color: #131720;
    }

    .container {
      max-width: 800px;
      margin: 0 auto;
      padding: 20px;
    }

    .search-container {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 20px;
    }

    #search:focus {
      font-weight: bold;
      font-size: 18px;
    }

    #search::placeholder {
      font-weight: bold;
      font-size: 16px;
    }

    #search {
      padding: 10px;
      margin-right: 10px;
    }

    #searchBtn {
      padding: 10px 20px;
      background-color: #4caf50;
      color: white;
      border: none;
      border-radius: 5px;
      cursor: pointer;
    }

    .gallery {
      display: flex;
      flex-wrap: wrap;
    }

    .image {
      width: 25%;
      padding: 5px;
      box-sizing: border-box;
      position: relative;
    }

    .image img {
      width: 100%;
      height: auto;
      border-radius: 5px;
    }

    .title {
      position: absolute;
      bottom: 0;
      top: -3;
      left: 0;
      width: 100%;
      color: #FFFFFF;
      font-weight: bold;
      padding: 0px;
      margin: 0;
      text-align: center;
      text-decoration: none;
    }

    #searchResults {
      text-align: center;
      margin-top: 20px;
      color: white;
      font-style: italic;
    }
  